@import 'bootstrap/dist/css/bootstrap';

*{
  list-style: none;
  text-decoration: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.field {
  input:not([type=checkbox]) {
    @extend .form-control;
    @extend .bg-light;
    @extend .bg-white;
    @extend .border;
    @extend .shadow;
    @extend .rounded;
    border-radius: 10px !important;
    margin-bottom: 15px;
  }
}

.text-area{
  @extend .form-control;
    @extend .bg-light;
    @extend .bg-white;
    @extend .border;
    @extend .shadow;
    @extend .rounded;
    border-radius: 10px !important;
    margin-bottom: 15px;
}

.rounded-10 {
  border-radius: 10px;
}

.card-size-sm{ 
  margin: 1.5em 0.8em; 
  width: 280px; 
  height: 220px;
}
.card-size-lg{ 
  height: 300px;
}
.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.btn-size{
  width: 35px;
  height: 35px;
  padding: 10px;
}

.btn-icon{
  margin: 5px;
  width: 30px;
  height: 30px;
  padding: 5px;
  font-size: 20px;
}

.img-size{
  width: 150px;
  height: 150px;
}